@use "../../presets" as *;
@use "../../mixins" as *;

.product {
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: repeat(3, 1fr);

    // @include md {
    //     grid-template-rows: 100px repeat(4, 1fr) 100px;
    //     grid-template-columns: 1fr;
    // }

    &__title {
        display: grid;
        grid-row: 1;
        grid-column: 2;
        font-size: 2rem;
        font-weight: 550;
        text-align: center;
        align-self: center;

        @include md {
            grid-row: 1;
            grid-column: 1;
        }
    }

    &__gallery {
        --img-size: calc(100px - .5rem / 2);
        display: grid;
        grid-template-columns: repeat(6, var(--img-size));
        grid-template-rows: repeat(3, var(--img-size));
        grid-row: 2;
        grid-column: 2;
        gap: .5rem;
        margin-bottom: calc($index * 15);

        @include md {
            grid-row: 2 / span 5;
            grid-column: 1;
        }
    }

    &__gallery:hover > img {
        filter: brightness(.5) saturate(.5);
    }

    &__gallery > img:hover {
        filter: brightness(1) saturate(1.5);
    }

    &__item {
        max-width: 100%;
    }

    &__link {
        display: grid;
        grid-row: 3;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        max-width: calc($index * 10);
        max-height: calc($index * 3);
        padding: calc($index * 0.5) calc($index * 2);
        background-color: $color-hover;
        color: $color-gray-dark;
        text-transform: uppercase;
        font-size: calc($font-size - 4px);
        font-weight: 600;
        letter-spacing: 0.25rem;
        white-space: nowrap;
        transition: all 0.75s;

        &:hover {
            opacity: 0.7;
        }

        @include md {
            grid-row: 3;
            grid-column: 1;
        }
    }
}