$font-size: 16px;
$font-family: "Nanum Gothic", sans-serif;
$container-sm: 540px;
$index: calc(1vw + 1vh);

$ul: 1380px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;